@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50 antialiased;
    font-family: var(--font-sans);
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .page-title {
    @apply text-3xl font-bold text-foreground tracking-tight;
  }

  .column-title {
    @apply flex items-center gap-1 font-bold;
  }

  .search-field {
    @apply relative w-full max-h-9 md:max-w-72;

    .search-icon {
      @apply absolute left-3 top-1/2 -translate-y-1/2 h-4 w-4 text-primary;
    }
  }

  .actions-row {
    @apply flex flex-col gap-3 sm:flex-row sm:gap-2 w-full sm:w-auto;
  }

  .sign-up {
    @apply flex flex-col items-center justify-center px-6 py-8 min-h-svh;

    .logo {
      @apply flex items-center justify-center;

      img {
        @apply h-12 w-12;
      }
    }

    .card {
      @apply w-full max-w-xl p-12 mt-6;
    }

    .header {
      @apply px-0;
    }

    .title {
      @apply text-3xl font-semibold;
    }

    .description {
      @apply text-muted-foreground;
    }

    .content {
      @apply px-0;
    }

    .form {
      @apply space-y-6;

      [data-slot="label"] {
        @apply text-sm font-medium;
      }

      [data-slot="input"] {
        @apply w-full;
      }
    }

    .roles {
      @apply grid w-full grid-cols-2 gap-3;

      .role-button {
        @apply flex flex-col items-center justify-center gap-2 rounded-md border border-input bg-background p-3 text-sm font-medium transition-colors;

        &.is-active {
          @apply border-primary bg-primary/10 text-primary;
        }

        svg {
          @apply h-6 w-6;
        }

        span {
          @apply text-sm;
        }
      }
    }

    .field {
      @apply flex flex-col gap-3;
    }

    .submit {
      @apply w-full mt-2;
    }

    .footer {
      @apply w-full text-center text-sm px-0;

      span {
        @apply text-muted-foreground mr-2;
      }

      a {
        @apply font-semibold underline;
      }
    }
  }

  .intro-row {
    @apply flex flex-col gap-5 lg:flex-row justify-between space-y-4;
  }

  .class-view {
    @apply container mx-auto pb-8 px-2 sm:px-4;
  }

  .class-form-card {
    @apply max-w-3xl gap-2 w-full mx-auto relative overflow-hidden border shadow-sm border-foreground/20;
  }

  .upload-dropzone {
    @apply flex flex-col items-center justify-center gap-4 min-h-40 border-2 border-dashed border-foreground/20 bg-primary/5 w-full mt-3 cursor-pointer disabled:opacity-70 disabled:cursor-not-allowed rounded-md;

    .upload-prompt {
      @apply flex flex-col sm:flex-row items-center justify-center gap-4 p-5;

      .icon {
        @apply size-10 text-orange-600;
      }

      div {
        @apply text-center sm:text-left;

        :first-child {
          @apply text-sm font-bold text-orange-600 mb-1;
        }

        :last-child {
          @apply text-xs text-foreground/60;
        }
      }
    }
  }

  .upload-preview {
    @apply relative w-full;

    img {
      @apply size-full object-cover rounded-md;
    }

    button {
      @apply absolute top-2 right-3 z-10 cursor-pointer;
    }
  }

  .class-show {
    .state-message {
      @apply mt-6 text-sm text-muted-foreground;
    }

    .state-message.is-error {
      @apply text-destructive;
    }

    .banner {
      @apply mt-5 mb-1;

      img {
        @apply w-full aspect-5/1 rounded-xl object-cover shadow-md;
      }

      .placeholder {
        @apply h-72 w-full bg-slate-200;
      }
    }

    .details-card {
      @apply p-6 sm:p-8 space-y-3 shadow-md;
    }

    .details-header {
      @apply flex flex-col sm:flex-row sm:items-start justify-between gap-5 mb-4;

      > div:first-child {
        @apply flex-1 space-y-2;

        h1 {
          @apply text-xl sm:text-2xl font-bold;
        }

        p {
          @apply text-sm text-muted-foreground;
        }
      }

      > div:last-child {
        @apply space-x-2;

        > * {
          @apply px-3 py-1;
        }

        [data-status="active"] {
          @apply bg-green-600 text-white;
        }

        [data-status="inactive"] {
          @apply bg-gray-600 text-white;
        }
      }
    }

    .details-grid {
      @apply grid sm:grid-cols-2 mt-8 gap-10 text-sm;
    }

    .instructor {
      @apply space-y-2;

      > p {
        @apply text-xs mb-3 font-bold text-gray-400 uppercase tracking-wider;
      }

      > div {
        @apply space-y-2 flex items-center gap-2;
      }

      img {
        @apply size-13 rounded-full object-cover;
      }

      > div > div > p:first-child {
        @apply text-base font-mono font-bold text-primary;
      }

      > div > div > p:last-child {
        @apply text-sm font-medium mb-2;
      }
    }

    .department {
      @apply space-y-2;

      > p {
        @apply text-xs font-bold text-muted-foreground uppercase tracking-wider;
      }

      > div {
        @apply space-y-2;

        p:first-child {
          @apply text-lg font-bold text-primary;
        }

        p:last-child {
          @apply text-sm text-muted-foreground line-clamp-1;
        }
      }
    }

    .subject {
      @apply space-y-2;

      > p {
        @apply text-xs font-bold text-muted-foreground uppercase tracking-wider;
      }

      > div {
        @apply space-y-2;

        span {
          @apply font-extrabold;
        }

        p:first-of-type {
          @apply text-lg font-bold text-primary;
        }

        p:last-of-type {
          @apply text-sm text-muted-foreground mt-2 leading-relaxed;
        }
      }
    }

    .join {
      @apply space-y-2;

      h2 {
        @apply text-xs font-bold text-muted-foreground uppercase tracking-wider;
      }

      ol {
        @apply text-sm text-muted-foreground space-y-1.5 list-decimal list-inside mt-2;
      }
    }
  }
}

:root {
  --background: #e7e5e4;
  --foreground: #1e293b;
  --card: #f5f5f4;
  --card-foreground: #1e293b;
  --popover: #f5f5f4;
  --popover-foreground: #1e293b;
  --primary: #6366f1;
  --primary-foreground: #ffffff;
  --secondary: #d6d3d1;
  --secondary-foreground: #4b5563;
  --muted: #e7e5e4;
  --muted-foreground: #6b7280;
  --accent: #f3e5f5;
  --accent-foreground: #374151;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #d6d3d1;
  --input: #d6d3d1;
  --ring: #6366f1;
  --chart-1: #6366f1;
  --chart-2: #4f46e5;
  --chart-3: #4338ca;
  --chart-4: #3730a3;
  --chart-5: #312e81;
  --sidebar: #d6d3d1;
  --sidebar-foreground: #1e293b;
  --sidebar-primary: #6366f1;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f3e5f5;
  --sidebar-accent-foreground: #374151;
  --sidebar-border: #d6d3d1;
  --sidebar-ring: #6366f1;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(240 4% 60%);
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1e1b18;
  --foreground: #e2e8f0;
  --card: #2c2825;
  --card-foreground: #e2e8f0;
  --popover: #2c2825;
  --popover-foreground: #e2e8f0;
  --primary: #818cf8;
  --primary-foreground: #1e1b18;
  --secondary: #3a3633;
  --secondary-foreground: #d1d5db;
  --muted: #1f1c19;
  --muted-foreground: #9ca3af;
  --accent: #484441;
  --accent-foreground: #d1d5db;
  --destructive: #ef4444;
  --destructive-foreground: #1e1b18;
  --border: #3a3633;
  --input: #3a3633;
  --ring: #818cf8;
  --chart-1: #818cf8;
  --chart-2: #6366f1;
  --chart-3: #4f46e5;
  --chart-4: #4338ca;
  --chart-5: #3730a3;
  --sidebar: #3a3633;
  --sidebar-foreground: #e2e8f0;
  --sidebar-primary: #818cf8;
  --sidebar-primary-foreground: #1e1b18;
  --sidebar-accent: #484441;
  --sidebar-accent-foreground: #d1d5db;
  --sidebar-border: #3a3633;
  --sidebar-ring: #818cf8;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}